.movie-pane {
  height: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;

  img {
    width: 100%;
    height: calc((100vw - 5rem) / 2);
  }
}
