.search-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  height: 2rem;

  input {
    flex: 1 1 auto;
    margin-left: 1rem;
    color: white;
    height: 2rem;
    border: unset;
    width: inherit;
    background-color: #171717;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  input:focus {
    outline: none;
  }

  img {
    width: 1rem;
    align-self: center;
  }

  div {
    background-color: #171717;
  }
}
