@import "./../../style/main.scss";

.search-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 2.75rem !important;
  padding: 1.5rem 0 1.5rem 0;
  background-color: $background-color;
  height: 2rem;
  z-index: 5;
  input {
    flex: 1 1 auto;
    margin-left: 1rem;
    color: white;
    height: 2rem;
    border: unset;
    width: inherit;
    background-color: $background-color;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  input:focus {
    outline: none;
  }

  img {
    width: 1rem;
    align-self: center;
  }

  div {
    background-color: $background-color;
  }
}
