body {
  margin: 0;
  font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717 !important;
}

::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  src: local("Titillium Web"),
    url("./fonts/TitilliumWeb-Regular.ttf") format("ttf");
}
